.createBooking {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    height: 120px;
    background-color: white;
    border-radius: 10px;

}

.bookingBtn {
    height: 30px;
    width: 200px;
    outline: none;
    border-radius: 5px;
    background-color: #1570ef;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

.backDrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.175);
    z-index: 5;
}