.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: white;
    margin-bottom: 20px;
}
.Header .dateText{
    color: #5d6679;
}
.Header .buttonCreate{
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #1570ef;
    text-decoration: none;
    cursor: pointer;


}
.Header .buttonCreate p{
    /* background-color: red; */
    font-size: small;
    font-weight: 400;
    color: white;
}

@media screen and (max-width:700px) {
    .Header .dateText{
        font-size: 12px;
        width: 100px;
        text-align: center;
        margin-left: 50px;
    }
}