.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: white;
    margin-bottom: 20px;
}
.Header p{
    color: #5d6679;
}
.Header button{
    padding: 7px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #1570ef;
    color: white;
    cursor: pointer;
}

@media screen and (max-width:700px) {
    .Header p{
        font-size: 12px;
        width: 100px;
        text-align: center;
        margin-left: 50px;
    }
}