.GraphArea{
    /* background-color: red; */
    width: calc(100% - 20px);
    /* height: 200px; */
    border-radius: 10px;
    margin-top: 20px;
    /* margin-left:20px; */
    /* margin-top: 20px; */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.BarGraph, .testing {
    min-height: 250px;
    padding: 30px 10px;
    aspect-ratio: 2 / 1;
    width: calc(50% - 40px);
    min-width: 400px;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}
.BarGraph,.testing {
    margin: 0px 5px;
}
@media screen and (max-width: 1100px){
    .GraphArea {
        flex-direction: column;
        align-items: center;
    }
    .BarGraph, .testing {
        width: calc(100% - 20px);
        min-width: 300px;
        padding: 40px 10px;
    }
    .testing {
        margin-top: 20px;
    }
}