.GraphArea{
    width: calc(100% - 20px);
    margin-bottom: 40px;
}

.BarGraph{
    min-width: 350px;
    max-width: 45%;
    aspect-ratio: 2 / 1;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.BarGraph p{
    font-weight: 500;
    margin-top: 10px;
}

@media screen and (max-width: 700px){
    .BarGraph {
        min-width: calc(100% - 20px);
    }
}