.DropDown {
    user-select: none;
    position: relative;
    width: fit-content;
    min-width: 80px;
}
.select {
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-sizing: border-box;
    padding:0px 10px;
    cursor: pointer;
    border: solid 1px rgba(128, 128, 128, 0.25);
}
.select img{
    transition: 0.2s;
    transform: translateY(3px);
}
.select:hover {
    border: solid 1px rgba(128, 128, 128, 0.4);
}

.menu {
    position: absolute;
    width: 100%;
    margin-top: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 5px 3px;
    box-sizing: border-box;
}

.menu li{
    background-color: white;
    border-radius: 5px;
    height: 40px;
    margin: 5px 3px;
    display: flex;
    align-items: center;
    padding:0px 5px;
    cursor: pointer;
}
.menu li:hover {
    background-color: #e8f1fd !important;
}

.rotate {
    transform: translateY(-2px) !important;
    scale: -100%;
}