

.Rooms{
    width: calc(100% - 40px);
    background-color: white;
    padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.RoomItem{
    flex: 1 2 100px;
    min-width: 150px;
    max-width: 200px;
    padding: 20px 10px;
    min-width: 150px;
    border: solid 1px #d5d8dd;
    border-radius: 10px;
    margin-top: 10px;
}
.RoomsBoxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.RoomItemButtonflex{
    display: flex;
    justify-content: space-between;
}

.RoomItemButtonflex p {
    font-size: 12px;
    padding: 2px 5px;
    background-color: #b6e9d1;
    border-radius: 3px;
    height: fit-content;
}

.RoomItemButtonflex button{
    border: none;
    outline: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
}
.RoomItemButtonflex button img{
    width: 20px;
    height: 20px;
    object-fit: contain;

    
}
.RoomItemButtonflex button:hover {
    background-color: #d5d8dd;
}
