.ChildernHolder{
    height: calc(100dvh - 100px);
    overflow-y: scroll;

    background-color: aqua;

}

.ChildernHolder::-webkit-scrollbar {
    width: 10px;
}

.ChildernHolder::-webkit-scrollbar-thumb {
    background: #a9a9aa5f;
    border-radius: 10px;
}