.Guest{
    padding: 0px 10px;
    height: calc(100vh - 125px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.GuestTableSelectors{
    width: 100%;
    height: max-content;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.GuestTableSelectors button{
    color: #575a62;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 10px 20px;
    border: solid 1px #858d9d;
    outline: none;
}
.GuestTableSelectors button:hover{
    color: #1366d9;
    cursor: pointer;
    background-color: #e8f1fd;
}
.GuestTableSelectors button:active{
    background-color: #dbe1ee;
}
.pageGuestSelectors{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   width: 200px;
}

.pageGuestSelectors p{
    color: #858d9d;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pageGuestSelectors p:hover{
    color: #1366d9;
    cursor: pointer;
}
.selectedPage{
    color: #1366d9;
}

.roomSelectors {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.roomSelectors input[type = 'text'] {
    background-image: url('/Elysium/search.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10px;
    box-sizing: border-box;
    padding: 5px 10px 5px 40px;
    border: 2px solid #bbbfc4;
    border-radius: 8px;
    outline: none;
}
