.SideNav{
    width: 400px;
    height: 100vh;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 20px 0;
    background-color: white;
}

.logo{
    position: relative;
    font-size: 28px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.listBox li{

    border-radius: 10px;
    display: flex;
    width: 90%;
    align-items: center;
    height: 50px;
    margin-bottom: 5px;
    padding-left: 20px;
}
.listBox li p {
    color: #5d6679;
    min-width: 150px;
}
.listBox li:hover p {
    color: #2d77dd;
}
.listBox li:hover{
    background-color: rgb(232, 241, 253);
}

.liItemSelected {
    background-color: rgb(232, 241, 253);
}

.listBox .Icons{
    margin-right: 15px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: #d5d6d6;
    left: 15%;
    top: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    justify-content: center;
    align-items: center;

}
.button:hover {
    background-color: #bdbebe;
}
.SideNavButton{
    position: relative;
    width: 50%;
    height: 2px;
    background-color: black;
}

.SideNavButton::after,.SideNavButton::before {
    content: '';
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
}

.SideNavButton::after{
    bottom: 7px;
}

.SideNavButton::before{
    top: 7px;
}
.Extended{
    width: 0;
}

.scaler{
    
    top: 35px !important;
    width: 0;
    height: 0;
    animation: scaleUp 0.4s forwards 1s;
}
.ahref{
    width: 250px;
    text-decoration: none;
}

@keyframes scaleUp {
    from{

        width: 0;
        height: 0;
    }
    to{
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 700px){
    .SideNav{
        position: absolute;
        width: 100%;
        border-radius: 0;
    }
    .Extended{
        width: 0;
    }
    .listBox .ahref{
        width: 90%;
    }

    .listBox li{
        margin-bottom: 15px;
        background-color: #eef0f2;
    }
}

