.SideNav{
    width: 370px;
    background-color: white;
    overflow: hidden;
    transition: 0.2s;
}

.ButtonTitle {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 60px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.ButtonTitle button {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dummy{
    width: 35px;
}

.ahref{
    display: block;
    width: 90%;
    margin: 0px auto 10px auto;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}
.ahref:hover{
    background-color: #e8f1fd;
}
.ahref li{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 10px;
}
.ahref li .listicon {
    margin-right: 10px;
}
.ulItems{
    list-style: none;
}

.ulItems p{
    min-width: 100px;
}
.collapsed{
    width: 70px;
}
.collapsed .ahref li{
    justify-content: center;
}
.collapsed h2{
    display: none;
}

.collapsed p{
    display: none;
}

.collapBut{
    margin: 0px auto;
}

.selectedPage {
    background-color: #e8f1fd;
}


.mobileView{
    position: absolute;
    width: 100%;
    height: 100%;
}